<div class="dropdown text-end">
    <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
       data-bs-toggle="dropdown" aria-expanded="false">
        <img src="{{ asset('build/images/default-avatar.png') }}" alt="mdo" width="32" height="32" class="rounded-circle">
    </a>
    <ul class="dropdown-menu text-small">
        <li>
            Szia {{ app.user.userIdentifier }}
        </li>
        <li>
            <a class="dropdown-item">
                Beállítások
            </a>
        </li>
        <li>
            <a class="dropdown-item">
                Profilom
            </a>
        </li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li>
            <a href="{{ path('app_logout') }}" class="dropdown-item">
                Kilépés
            </a>
        </li>
    </ul>
</div>