{% if app.user and app.user.getVerifiedAt is null %}
    <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
        Kérjük, erősítse meg az email címét, különben fiókja törlésre kerül.
        <a id="resend-verification-email-btn"
           data-route="{{ path('app_resend_verification_email') }}"
           href="#"
           class="alert-link">
            Megerősítő email újraküldése
        </a>

        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endif %}

{% for message in app.flashes('success') %}
    <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}