{% trans_default_domain 'registration' %}

{% if app.user and app.user.getVerifiedAt is null %}
    <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
        {{ verification.warning.info|trans }}
        <a id="resend-verification-email-btn"
           data-route="{{ path('app_resend_verification_email') }}"
           href="#"
           class="alert-link">
            {{ verification.warning.resend_verification|trans }}
        </a>

        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endif %}