<header class="p-3 mb-3 border-bottom">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            {% include 'layout/header/logo.html.twig' %}

            {% include 'layout/header/menu.html.twig' %}

            {% if app.user %}
                {% include 'layout/header/submenu.html.twig' %}
            {% endif %}
        </div>
    </div>
</header>