{% trans_default_domain 'menu' %}

<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
    <li>
        <a class="nav-link px-2 link-body-emphasis" href="{{ path('app_home') }}">
            TitiStorage
        </a>
    </li>

    {% if app.user %}
        <li>
            <a class="nav-link px-2 link-body-emphasis" href="{{ path('product.new') }}">
                {{ 'menu.product'|trans }}
            </a>
        </li>
    {% endif %}
</ul>