{% trans_default_domain 'menu' %}

<div class="dropdown text-end">
    <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
       data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-person-circle fs-3"></i>
    </a>
    <ul class="dropdown-menu text-small">
        <li>
            <a href="{{ path('app_profile') }}" class="dropdown-item">
                {{ 'menu.profile'|trans }}
            </a>
        </li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li>
            <a href="{{ path('app_logout') }}" class="dropdown-item">
                {{ 'menu.logout'|trans }}
            </a>
        </li>
    </ul>
</div>